{% extends 'base-online.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="Public/CSS/home_online.css" />
{% endblock %}

{% block body %}

<div class="container container-pers margin-block">



    {% if failure_message is not empty %}
        {{ failure_message | raw }}
    {% endif %}



    {% if authentication %}

        <p class="tittle-presentation">Modifier votre mot de passe.</p>
        <form method="POST" action="online.php?page=edit_password">
            

            <div class="form-group">
                <input name="password" id="password" class="form-control form-control-sm color-input" type="password" placeholder=" Nouveau mot de passe"
                {% if temporary_new_password is not empty %}
                value="{{ temporary_new_password }}"
                {% endif %}>

                {% if password_message_alert is not empty %}
                    <small class="form-text alert-small-message">{{ password_message_alert }}</small>
                {% endif %}
            </div>


            <div class="form-group">
                <input name="confirm_password" id="confirm_password" class="form-control form-control-sm color-input" type="password" placeholder="Confirmation mot de passe"
                {% if temporary_confirm_password is not empty %}
                    value="{{ temporary_confirm_password }}"
                {% endif %}>

                {% if password_confirm_message_alert is not empty %}
                    <small class="form-text alert-small-message">{{ password_confirm_message_alert }}</small>
                {% endif %}
                <small class="form-text text-muted">Le mot de passe doit contenir 6 caractères minimum.</small>
            </div>


            <button name="edit_button" type="submit" class="btn btn-primary btn-block signup-button mt-5">Modifier</button>
        </form>
    
    {% else %}

        <p class="tittle-presentation">Veuillez entrez votre mot de passe.</p>
        <form method="POST" action="online.php?page=edit_password">
            

            <div class="form-group">
                <input name="password" id="password" class="form-control form-control-sm color-input" type="password" placeholder="Mot de passe"
                {% if temporary_password is not empty %}
                    value="{{ temporary_password }}"
                {% endif %}>

                {% if password_message_alert is not empty %}
                    <small class="form-text alert-small-message">{{ password_message_alert }}</small>
                {% endif %}
            </div>


            <button name="confirm_button" type="submit" class="btn btn-primary btn-block signup-button mt-5">Envoyer</button>
        </form>

    {% endif %}

    
</div>



{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="Public/Javascript/get-notifications.js"></script>
{% endblock %}