{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="Public/CSS/home.css" />
{% endblock %}

{% block title %}Dog's Matcha{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-sm-md-lg-xl navbar-pers">
        <a class="navbar-brand link-logo" href="index.php?page=home"><img src="Public/Images/logo2.png" class="logo-img" style="display: none;"></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="index.php?page=login" class="btn btn-outline-secondary connect-button">Se connecter</a>
            </li>
        </ul>
    </nav>

    <div class="container container-pers margin-block">
        {% if failure_message is not empty %}
            {{ failure_message | raw }}
        {% endif %}

        {% if success_message is not empty %}
            {{ success_message | raw }}
        {% endif %}
        <a href="index.php?page=home"><img src="Public/Images/logo.png" style="width: 315px; margin-bottom: 15px !important; display:flex; margin: auto"></a>
        <p style="text-align: center; font-family: cursive; font-size: 30px; color: currentcolor;">Mot de passe oublié ?</p>
        <form method="POST" action="index.php?page=get_email">
            <div class="form-group">
                <input name="get_email" id="get-email" class="form-control form-control-sm color-input" type="email" placeholder="Veuillez entrez l'adresse email de votre compte"
                {% if temporary_email is not empty %}
                    value="{{ temporary_email }}"
                {% endif %}>

                {% if email_not_exist is not empty %}
                    <small class="form-text alert-small-message">{{ email_not_exist }}</small>
                {% endif %}
                {% if email_message_alert is not empty %}
                    <small class="form-text alert-small-message">{{ email_message_alert }}</small>
                {% endif %}
            </div>
            <button name="send_email" id="send-button" type="submit" class="btn btn-primary btn-block signup-button" disabled>Envoyer</button>
        </form>
        <div class="text-center mt-4 mb-5">
            <a href="index.php?page=home" class="btn-link link-connect">Retour à la page d'accueil</a>
          </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="Public/Javascript/forms/form-get-email.js"></script>
{% endblock %}